.professorContainer {
    width: 100%;
    height: 100%;
}

.professorNav {
    width: 100%;
    height: 56px;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
}

.createProfComment {
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
}

.returnDashboard {
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
    cursor: grab;
}

.logOut {
    height: 36px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
    cursor: grab;
}

.title {
    text-align: center;
    /* padding-left: 50%; */
}
.profCommentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-left: 20vw;

}
.ant-card-actions li {
     margin: 0
}