.App {
    text-align: center;
    background-color:white;
    height: 100vh;
    /* background: url("../../../public/bg-img.jpg") repeat !important; */
  }
  .bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../bg-img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }